<aside class="aside-wrap" style="width: <%= theme.aside.width %>px">

    <img referrerpolicy="no-referrer" src="<%= theme.aside.bg %>" class="aside-bg" alt="bg"/>

    <img referrerpolicy="no-referrer" src="<%= theme.user.avatar %>" class="user-avatar" alt="avatar"/>

    <div class="nav-wrap">
        <h1 class="author"><%= config.author %></h1>
        <p class="subtitle"><%= config.subtitle %></p>
        <ul class="nav-list">
            <% Object.entries(theme.nav).forEach(([k, {path, status}]) => { %>
            <% if (status) { %>
            <li class="nav-item">
                <a href="<%= path %> "><%= _p('nav.' + k) %> </a>
            </li>
            <% } %>
            <% }) %>
        </ul>
        <ul class="sub-nav-list">
            <% Object.entries(theme.subnav).forEach(([k, {path, icon, color, style = '', img_style = ''}]) => { %>
            <li class="sub-nav-item">
                <a href="<%= path %> " aria-label="<%= k %>" title="<%= k %>" style="background-color: <%= color %>;<%= style %>">
                    <img referrerpolicy="no-referrer" src="<%= icon %>" class="nav-img" style="<%= img_style %>" />
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</aside>